#section-get-started {
  padding-bottom: 50px;
  padding-top: 0;
}

#section-get-started div {
  background-color: #042449;
  overflow: hidden;
  justify-content:space-between;
}

#get-started-container-text-wrapper {
  padding-left: 64px;
}

#get-started-container-text-wrapper h3 {
  color: white;
  font-size: var(--font-size-heading-1);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-gsans);
  letter-spacing: -.005em;
  line-height: 1.2;
  margin-bottom: 0;
}

#get-started-container-text-wrapper p {
  color: white;
  font-family: var(--font-gsans);
  font-size: var(--font-size-heading-4);
  font-weight: var(--font-weight-default);
  line-height: 1.4;
}

#get-started-container-text-wrapper a {
  color: white;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-default);
  font-family: var(--font-gsans);
  background-color: transparent;
  text-decoration: none;
}
